#doorbell-button {
  bottom: 25% !important;
  left: -31px !important;
  -ms-transform: rotate(90deg) !important; /* IE 9 */
  -webkit-transform: rotate(90deg) !important; /* Chrome, Safari, Opera */
  transform: rotate(90deg) !important;
}
