
html, body {
  height: 100%;
  font-display: auto;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif
}

#__next {
  height: 100%;
}

.ant-row {
  width: 100%;
}

.omh-color {
  background-color: $primary-color !important;
}

.omh-accent-text {
  color: $primary-color !important;
}

main {
  margin-top: 2px;
}

nav {
  background-color: $nav-background-color;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 50px;
  line-height: 50px;
}

.nav-menu, .ant-layout-header {
  background: $nav-background-color !important;
  color: $navbar-font-color !important;
}

.ant-menu-item  {
  background: $nav-background-color !important;
}

.ant-menu-item a {
  color: $navbar-font-color !important;
}

.ant-menu-item:hover {
  color: $navbar-hover-font-color !important;
}

.hamburger-menu {
  color: $navbar-font-color !important;
}

.collapsible-body {
  padding: 0;
}

.category-dropdown-button {
  color:$navbar-font-color !important;
}

.category-dropdown-button i {
  color:$navbar-font-color !important;
}

.selected-feature-close {
  float: right;
  z-index: 999;
  color: #FFF;
  background-color: $primary-color;
}

#beta-text{
  color:$navbar-font-color !important;
}

.dropdown-content li:hover{
  color: $navbar-hover-font-color;
  background-color: $primary-color;
}

.dropdown-content li>a:hover{
  color: $navbar-hover-font-color;
  background-color: $primary-color;
}

.nav-link-item:hover {
  color: $navbar-hover-font-color;
  background-color: transparent !important;
}

.nav-link-wrapper:hover {
  color: $navbar-hover-font-color;
  background-color: $primary-color;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.input-field label {
  font-size: 0.8rem !important;
}

.input-field input[type=search] {
  padding-left: 32px;
  width: calc(100% - 32px);
  border-radius: 25px;
}

#sidenav-overlay {
  opacity: 0 !important;
}

 .image-remove-button {
   display: none;
 }

 .map-remove-button {
  display: none;
}

/*Card Carousel*/

.fade {
  position: relative;
  height: 6.0em; /* exactly 4 lines */
  line-height: 1.5em;
  overflow: hidden;
}

.fade span {
  height: 6.0em; /* exactly 4 lines */
  line-height: 1.5em;
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

  .attribute-collection-item {
    padding: 2px;
  }

  .attribute-collection-item p {
    margin: 0;
  }

  .page-footer {
    color: $footer-font-color;
  }

  .footer-copyright {
     color: $footer-font-color !important;
    background-color: $footer-bg-color !important;
  }

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-wrap {
  @include word-wrap;
}

.LabelColumn {
  width: 100px;
  @include word-wrap;
}

.caret {
  display: none;
}

.image-crop-modal{
  width: 90% !important;
  height: 85% !important;
  max-height: 85% !important;
  max-width: 915px !important;
}

.create-map-modal{
  width: 100% !important;
  height: 85% !important;
  max-height: 85% !important;
}

.code-edit-modal{
  width: 95vw !important;
  max-width: 800px !important;
  height: 95vh !important;
  max-height: 95vh !important;
  top: 2% !important;
}

.create-map-side-nav.fixed a {
  height: 37px;
  line-height: 37px;
  padding: 0px;
  margin: 0px;
}

.embed-map-container {
  position:relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0 !important;
  overflow: hidden;
}

.embed-map-container iframe {
  border:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-image-container {
  position:relative;
}

.label-field input {
 text-align: center;
  border-bottom: none !important;
  height: 50px !important;
  margin: 0  !important;
  padding-right: 5px;
  line-height: 50px !important;
}

.react-grid-checkbox:checked+.react-grid-checkbox-label:before {
  background: inherit !important;
  box-shadow: none !important;
}

.react-grid-checkbox-label {
  opacity: 0 !important;
}

.react-grid-checkbox {
  opacity: 1 !important;
}

.custom-scroll-bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary-color;
}

.react-grid-Canvas::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.react-grid-Canvas::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.react-grid-Canvas::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary-color;
}
.react-grid-Canvas {
  left: initial !important;
  right: 2px !important;
}

.react-grid-Cell--locked {
  background-color: #fff;
}

.color-picker {
  width: 100%;
  max-width: 350px;
}

.story-media-edit-button {
  height:30px;
  line-height: 30px;
  width: 30px;
  color: $primary-color;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  z-index: 100;
  text-align: center;
  margin-right: 5px;
  font-size: 25px;
}

.story-title {
  font-display: auto;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif
}

.story-content {
  font-display: auto;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif
}

.story-content p {
  font-size: 16px;
  line-height: 1.5;
}

.notes-content {
  height: calc(100% - 25px);
}
