
html, body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', sans-serif
}

#app, #app > div {
  height: 100%;
}

.omh-color {
  background-color: $primary-color !important;
}

.omh-accent-text {
  color: $primary-color !important;
}

.omh-btn-text-color {
  color: white;
}

.omh-btn{
  border-color: $primary-color;
  border-style: solid;
  border-width: 1px;
}

.omh-btn i{
  background-color: rgba(0, 0, 0, 0);
  color: $primary-color;
}

main {
  margin-top: 2px;
}

nav {
  background-color: $nav-background-color;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 50px;
  line-height: 50px;
}

.nav-dropdown-link-wrapper ul {
  background-color: $nav-background-color;
}

.nav-dropdown-link-wrapper i {
  color: $navbar-font-color;
}

.collapsible-body {
  padding: 0;
}

.home-section {
  color: #212121;
}

.home-section:hover {
  color: $primary-color;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav-hover-menu-item {
  color: $navbar-font-color !important;
}

.nav-hover-menu-item:hover {
  color: $navbar-hover-font-color !important;
  background-color: $primary-color !important;
}

.nav-link-wrapper a.active {
  color:$primary-color;
}

.nav-dropdown-link-wrapper {
  color:$primary-color !important;
  background-color: transparent !important;
}

.nav-dropdown-button i {
  color:$navbar-font-color !important;
}

.nav-dropdown-button:hover {
  color:$navbar-hover-font-color !important;
  background-color: $primary-color !important;
}

.category-dropdown-button {
  color:$navbar-font-color !important;
}

.category-dropdown-button i {
  color:$navbar-font-color !important;
}

#beta-text{
  color:$navbar-font-color !important;
}

.dropdown-content li:hover{
  color: $navbar-hover-font-color;
  background-color: $primary-color;
}

.dropdown-content li>a:hover{
  color: $navbar-hover-font-color;
  background-color: $primary-color;
}

.nav-link-item:hover {
  color: $navbar-hover-font-color;
  background-color: transparent !important;
}

.nav-link-wrapper:hover {
  color: $navbar-hover-font-color;
  background-color: $primary-color;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.input-field label {
  font-size: 0.8rem !important;
}

.input-field input[type=search] {
  padding-left: 32px;
  width: calc(100% - 32px);
  border-radius: 25px;
}

#sidenav-overlay {
  opacity: 0 !important;
}


.auth0-lock-input {
   margin: 0 !important;
 }
.auth0-lock-widget {
  overflow: visible !important;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3) !important;
}
 .auth0-lock-sign-up-terms-agreement > label > input {
  left: auto !important;
  opacity: 1 !important;
 }

 .image-remove-button {
   display: none;
 }

 .map-remove-button {
  display: none;
}

/*Card Carousel*/

.carousel-container{
  margin-left: 10px;
  margin-right: 10px;
}

.card.small {
  width: 200px !important;
  height: 300px !important;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer  !important;
}

.fade {
  position: relative;
  height: 6.0em; /* exactly 4 lines */
  line-height: 1.5em;
  overflow: hidden;
}

.fade span {
  height: 6.0em; /* exactly 4 lines */
  line-height: 1.5em;
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.card-carousel {
  height: 320px;
  margin-left: 30px;
  margin-right: 30px;
}

.slick-slider {
    height: 100%;
}

.slick-dots {
  overflow: hidden !important;
  height: 35px !important;
}

.slick-dots li {
  margin-right: 3px !important;
  margin-left: 3px !important;
  width: 15px !important;
  height: 15px !important;
}

.slick-dots li button {
  padding: 0 !important;
  width: 15px !important;
  height: 15px !important;
}


.slider, .slider-frame, .slider-list, .slider-slide {
    height: 100% !important;
    width: 100% !important;
}

.slide-decorator-2 ul li button{
  color: #FFF !important;
}

  .mapboxgl-canvas{
    left: 0 !important;
  }

  .colorpickr {
    width: auto !important;
  }

  .cp-fill-tile .thumb {
    display:none !important;
  }

  .cp-colormode-slider .thumb {
    display:none !important;
  }

  .attribute-collection-item {
    padding: 2px;
  }

  .attribute-collection-item p {
    margin: 0;
  }

  .page-footer {
    color: $footer-font-color;
  }

  .footer-copyright {
     color: $footer-font-color !important;
    background-color: $footer-bg-color !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $header-font-color;
  }

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.word-wrap {
  @include word-wrap;
}

/*MaterializeCSS has a bug where the invalid labels don't resize with the dynamically resizing text area */
textarea.materialize-textarea+label:after {
  position: relative!important;
  top: 0px!important;
}

.LabelColumn {
  width: 100px;
  @include word-wrap;
}

.slick-next:before, .slick-prev:before {
    color: #263238 !important;
}

.caret {
  display: none;
}

.select-wrapper .caret {
  display: block;
}

.editor-container div {
  outline: none;
}

.editor-container h1 {
  outline: none;
}

.editor-container div ::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: white;
}
.editor-container div ::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
  color: white;
}

.editor-container h1 ::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: white;
}
.editor-container h1 ::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
  color: white;
}

.color-swatch {
  width: 100%;
  height: 71px;
}

.image-crop-modal{
  width: 90% !important;
  height: 85% !important;
  max-height: 85% !important;
  max-width: 915px !important;
}

.edit-attributes-modal{
  max-width: 400px !important;
  overflow: hidden;
}

.create-map-modal{
  width: 100% !important;
  height: 85% !important;
  max-height: 85% !important;
}

.code-edit-modal{
  width: 95vw !important;
  max-width: 800px !important;
  height: 95vh !important;
  max-height: 95vh !important;
  top: 2% !important;
}

.layer-item-btn {
  height: 30px !important;
  line-height: 30px !important;
  width: 25px;
  cursor: pointer;
  padding: 0 !important;
  margin: auto;
}


.create-map-side-nav.fixed a {
  height: 37px;
  line-height: 37px;
  padding: 0px;
  margin: 0px;
}

  .mapboxgl-ctrl {
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
  }

  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 !important;
  }

.mapboxgl-ctrl-compass {
  display: none !important;
}

.mapboxgl-ctrl-zoom-out {
  border-bottom: none !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out{
  transform: rotate(90deg); 
}

.mapbox-gl-draw_trash, .mapbox-gl-draw_point, .mapbox-gl-draw_line, .mapbox-gl-draw_polygon{
  transform: rotate(90deg); 
}

.mapbox-gl-draw_point, .mapbox-gl-draw_line, .mapbox-gl-draw_polygon{
  border-bottom: none !important;
  border-right: 1px #ddd solid !important;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-top-right {
  transform: rotate(-90deg);
  top: -35px !important;
  right: 85px !important;
}

.mapboxgl-ctrl-maphubs-measure-tool {
  right: 135px !important;
  top: -85px !important;
}

.maphubs-measure-tool-search-button {
  right: 258px !important;
}

.mapboxgl-ctrl-maphubs-edit-tool {
    right: 195px !important;
    top: -70px !important;
}

.maphubs-edit-tool-search-button {
  right: 305px !important;
}

.embed-map-container {
  position:relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0 !important;
  overflow: hidden;
}

.embed-map-container iframe {
  border:none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-image-container {
  position:relative;
}

.base-map-selection p {
  padding: 0;
}

.label-field input {
 text-align: center;
  border-bottom: none !important;
  height: 50px !important;
  margin: 0  !important;
  padding-right: 5px;
  line-height: 50px !important;
}


.action-button-bottom-right {
    bottom: 85px;
    right: 30px;
}


@media only screen and (max-width : 768px) {

  .action-button-bottom-right {
  bottom: 95px;
  right: 11px;
  }

}

@media only screen and (max-width : 600px) {

 .hub-banner {
   height: 350px;
 }
 .hub-banner-subpage {
   height: 350px;
 }
}

.react-grid-checkbox:checked+.react-grid-checkbox-label:before {
  background: inherit !important;
  box-shadow: none !important;
}

.notification-bar {
  z-index: 9999 !important;
}

.text-shadow {
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width : 480px) {
  .slide-text h2 {
    font-size: 40px;
  }

  .slide-text h3 {
    font-size: 20px;
  }

  .slide-button {
    bottom: 23px;
    left: 5%;
    width: auto;
  }
}

.custom-scroll-bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.custom-scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary-color;
}

.react-grid-Canvas::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.react-grid-Canvas::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.react-grid-Canvas::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary-color;
}
.react-grid-Canvas {
  left: initial !important;
  right: 2px !important;
}

.react-grid-Cell--locked {
  background-color: #fff;
}

.color-picker {
  width: 100%;
  max-width: 350px;
}

.story-media-edit-button {
  height:30px;
  line-height: 30px;
  width: 30px;
  color: $primary-color;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  z-index: 100;
  text-align: center;
  margin-right: 5px;
  font-size: 25px;
}

.rms-label {
    display: none;
}

.notes-content {
  height: calc(100% - 25px);
}

#locale-select .rms-wrapper {
  height: inherit !important;
  line-height: inherit !important;
  border-bottom: none !important;
  margin: 0 !important;
}

#locale-select .rms-wrapper .rms-text span {
  text-align: center;
}

.rms-item {
  text-align: left;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
       -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
           animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}