$maphubs-accent-color: #32ACDE;

$primary-color: $maphubs-accent-color;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: #32ACDE;

$secondary-color: $maphubs-accent-color;

$navbar-height: 50px;
$navbar-height-mobile: 50px;
$navbar-font-color: #c2c2c2;
$navbar-hover-font-color: #FFF;

$button-raised-color: #FFF;
$button-raised-background: $maphubs-accent-color;
$button-raised-background-hover: $primary-color-light;

$button-floating-color: #FFF;
$button-floating-background: $maphubs-accent-color;
$button-floating-background-hover: $primary-color-light;

$link-color: $primary-color-light;

$nav-background-color: #333333;
$footer-bg-color: #333333;
$footer-font-color: #c2c2c2;
$header-font-color: #32ACDE;