{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              "> 5%",
              "not ie <= 11"
            ],
            "node": true
          }
        }
      }
    ],
    [
      "@babel/preset-stage-0",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "version-inline"
  ],
  "ignore": ["/assets.*|node_modules/(?!(medium-editor|mapbox-gl)).*/"]
}
