{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:security/recommended",
    "plugin:unicorn/recommended",
    "prettier"
  ],
  "rules": {
    "security/detect-object-injection": "off",
    "unicorn/filename-case": "off",
    "camelcase": "off",
    "object-curly-spacing": "off",
    "unicorn/catch-error-name": ["error", { "name": "err" }],
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off",
    "react/jsx-handler-names": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-unused-vars": "off"
  },

  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },

  "globals": {},
  "plugins": [
    "@typescript-eslint",
    "security",
    "unicorn",
    "react",
    "react-hooks",
    "promise"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4"
    }
  }
}
