node_modules
bower_components
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
temp
tmp
.vagrant
uploads
connect-session-knex.sqlite
layerdata
demo
init-docker-dev.sh
squashed.tar
image.tar
run-docker.sh
prod_docker_cloud.yaml
maphubs.log.*
theme.scss
db-server-pass.env
id-secret.env
web-secret.env
db-pass.env
css/maphubs.css
.env
assets/public
stats.json
sync-to-cdn.sh
src/sass/themes/clients
css
logs
uppy.env
.next-export
.next/*
!.next/BUILD_ID
assets/assets/themes
dist
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

.env*.local
.envOLD
