.home-onboarding-icon-wrapper{
  border-radius: 25px;
}

.home-onboarding-icon-wrapper i {
  color: $primary-color;
}

.home-onboarding-icon-wrapper h5 {
  color: #212121;
}

.home-onboarding-icon-wrapper:hover {
  color: #FFF;
  background-color: $primary-color;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.home-onboarding-icon-wrapper:hover i, .home-onboarding-icon-wrapper:hover h5 {
  color: #FFF;
}