  .features {
    position:absolute;
    right:0;
    top: 50px;
    z-index: 9999;
    margin: 0;
    width:200px;
    overflow:hidden;
    font-size: 12px;
    background:rgba(255, 255, 255, 0.8);
    display: flex !important;
    border-radius: 4px;
    border: 1px solid #ddd;

}
.features-container {
  display: flex;
  width: 100%;
}

.selected-feature-close {
  float: right;
  z-index: 999;
  color: #FFF;
  background-color: $primary-color;
}