
.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: $primary-color transparent transparent transparent !important; }

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent $primary-color transparent !important; }

.medium-editor-toolbar {
  background-color: $primary-color !important; }
  .medium-editor-toolbar li {
    padding: 0; }
    .medium-editor-toolbar li button {
      min-width: 60px;
      height: 60px;
      border: none;
      border-right: 1px solid #b3e5fc !important;
      background-color: transparent;
      color: #fff;
      -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
              transition: background-color 0.2s ease-in, color 0.2s ease-in; }
      .medium-editor-toolbar li button:hover {
        background-color: $primary-color !important;
        color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: $primary-color-dark !important;
      color: #fff; }
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 60px;
  display: inherit !important;
  background: $primary-color !important;
  color: #fff; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: $primary-color !important;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #9e9e9e !important; }

  .medium-editor-placeholder {
    position: relative; }

  .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    font-style: italic;
    left: 0;
    position: absolute;
    top: 0;
    white-space: pre; }


    .hide-placeholder .medium-editor-placeholder:after {
        display: none;
    }
