.usermenu-wrapper:hover {
  color: $navbar-hover-font-color !important;
  background-color: $primary-color !important;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.usermenu-wrapper a {
  color: #212121 !important;
}

.usermenu-wrapper:hover a {
  color: $navbar-hover-font-color !important;
  background-color: transparent !important;
}

.login-with-signup:hover {
  background-color: transparent !important;
}

.login-with-signup-link {
  cursor: pointer;
}

.login-with-signup-link:hover {
  color: $header-font-color !important;
}